.git
.gitignore
.dockerignore
README-Docker.md
node_modules
dist
.vite
src
public
scripts
.github
package.json
package-lock.json
vite.config.js
index.html

*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

.env
.env.*
